logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.env
.env.*.local

node_modules/
yarn.lock
package-lock.json


.yarn/*
!.yarn/patches/
!.yarn/releases/
!.yarn/plugins/
!.yarn/sdks/
!.yarn/versions/
.yarnrc.yml

.pnp.*
.install-state.gz

dist/
build/
out/
*.tsbuildinfo

.vscode/
.idea/
*.sw?

coverage/
.nyc_output/

*.local
*.log
*.tgz
*.gz
*.zip

ehthumbs.db
Desktop.ini